@CHARSET "UTF-8";
html
{
	
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
}

body
{
	font-family: Arial;
	font-size: 80%;
	color: #555;
	line-height: 120%;
	padding:0px;
	margin:0px;
}

a 
{
	color:#96b289;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

#globalheader
{
	height:30px;
	width:100%;
	background-color: #000;
}

#globalheader h2
{
	display:inline-block;
	margin-left:10px;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:0px;
	color:#fff;
}

/* USER OVERVIEW */



#useroverview
{
	width:95%;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}

#useroverview ul
{
	list-style: none;
	padding-left: 0px;
}

#useroverview li
{
	display: inline-block;
	margin:1px;
}

#useroverview li a
{
	display: inline-block;
	width: 300px;
	background-color: #efefef;
	padding:3px;
	border:solid 1px #FFFFFF;

}

#useroverview li a:hover
{
	border:dotted 1px #000000;

}


/* BADGE OVERVIEW */

#header
{
	margin:auto;
	width:90%;
	position:fixed;
	top:0px;
	
	width:100%;
	background-color: #FFFFFF;
	
}


#badgedetail, #filter
{
	margin:auto;
	width:95%;
}

#filter
{
	font-size:100%;
}

#badgedetail
{
	background-image:url('background-header.png');
	background-size:100% 100%;
	min-height:100px;
	padding:10px;
}

#badgedetail h2
{
	font-size:90%;
	margin-bottom:0px;
}

#badgedetail p
{
	margin-top:0px;
	margin-bottom:0px;
}

/* BADGES */
#badgeoverview
{
	width:95%;
	margin-top:165px;
	margin-left:auto;
	margin-right:auto;
	
}

.badgeicon
{
	width:80px;
	display:inline-block;
	border:solid 1px #FFFFFF;
	margin:1px;"
}

.badgeicon:hover
{
	border:dotted 1px #000000;
}

.badgeiconSelected
{
	border: solid 1px #000000;
}

img
{
	width:100%;
}

.badgePositive
{
	/*background:#ccffcc;*/
}


.badgeNegative
{
	/*background:#ffcccc*/
}


.badgeNeutral
{
	/*background:#ccffff*/
}


/* badge detail */

.notYetAchievedBadge
{
	 -webkit-filter: blur(1px)grayscale(100%);
       -moz-filter: blur(1px)grayscale(100%);
         -o-filter: blur(1px)grayscale(100%);
        -ms-filter: blur(1px)grayscale(100%);
            filter: blur(1px)grayscale(100%); 
           	opacity: 0.5;
}

#backpack
{
	display:inline-block;
	background-color: #fff;
	border:solid 1px #ccc;
	padding:3px;
	float:right;
}

/* graph stuff */
.yourbadge
{
	fill: #08ff36;
	stroke: #1492e2;
	stroke-width:2px;
}

.linegraph
{
	fill: none;
	stroke: #1492e2;
	stroke-width:2px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

