@CHARSET "UTF-8";
html
{
	
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
}

body
{
	font-family: Arial;
	font-size: 80%;
	color: #555;
	line-height: 120%;
	padding:0px;
	margin:0px;
}

a 
{
	color:#96b289;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}


/* BADGE OVERVIEW */

#header
{
	margin:auto;
	width:90%;
	position:fixed;
	top:0px;
	
	width:100%;
	background-color: #FFFFFF;
	
}


#badgedetail, #filter
{
	margin:auto;
	width:95%;
}

#filter
{
	font-size:100%;
}

#badgedetail
{
	background-image:url('background-header.png');
	background-size:100% 100%;
	min-height:100px;
	padding:10px;
}

#badgedetail h2
{
	font-size:90%;
	margin-bottom:0px;
}

#badgedetail p
{
	margin-top:0px;
	margin-bottom:0px;
}

/* BADGES */
#badgeoverview
{
	width:95%;
	margin-top:135px;
	margin-left:auto;
	margin-right:auto;
	
}

.badgeicon
{
	width:80px;
	display:inline-block;
	border:solid 1px #FFFFFF;
	margin:1px;"
}

.badgeicon:hover
{
	border:dotted 1px #000000;
}

.badgeiconSelected
{
	border: solid 1px #000000;
}

img
{
	width:100%;
}

.badgePositive
{
	/*background:#ccffcc;*/
}


.badgeNegative
{
	/*background:#ffcccc*/
}


.badgeNeutral
{
	/*background:#ccffff*/
}

